.overlay {
    background-color: rgba(86, 190, 255, 0.8);
    border-radius: 3px;
    border: 1px solid grey;
    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 1em;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande",sans-serif;
    line-height: 1.5em;
}

.buttons, .pop, .multiple-runs, .initial {
    margin-top: 3em;
}

#container {
    width: 30%;
    height: 99.5%;
    overflow-y: scroll;
    overflow-x:visible;
    border: 1px solid rgb(86, 190, 255);
    background-color: white;
}

#myChart {
    float: left;
    border: 1px solid rgb(86, 190, 255);
    margin-right: 1em;
    width: 65%;
    height: 97%;
    padding: 0 10px 0 10px;
}

h3 {
    margin: 0;
    margin-bottom: 0.2em;
}

#genText {
    font-size: 0.7em;
    text-align: center;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande",sans-serif;
}

#genCounter {
    margin-top: 0.25em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Lucida Grande",sans-serif;
}

#counter {
    vertical-align: middle;
    margin: 1em;
    position: absolute;
    left: 60%;
    margin-top: 0.5em;
    background-color: rgba(86, 190, 255, 0.8);
    border-radius: 3px;
    border: 1px solid grey;
    width: 5em;
    height: 3.5em;
}